<!DOCTYPE html>
<html>
<head>
    <title>Image Downloader</title>
</head>
<body>
    <h2>Download Image</h2>
    <form method="post">
        <input type="text" name="image_url" placeholder="Enter image URL" style="width:300px;" required>
        <button type="submit">download</button>
    </form>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>